development:
  adapter:  mysql2
  host:     localhost
  encoding: unicode
  database: myapp_development
  pool:     5
  username: root
  password: root
test:
  adapter:  mysql2
  host:     localhost
  encoding: unicode
  database: myapp_test
  pool:     5
  username: root
  password: root

production:
  adapter:  mysql2
  host:     localhost
  encoding: unicode
  database: myapp_production
  pool:     5
  username: root
  password: root
